.idea
venv
HoqueiStats.iml
*.pyc
*.DS_Store
projeto/HoqueiStats/.DS_Store
projeto/HoqueiStats/StatsApp/.DS_Store
projeto/HoqueiStats/StatsApp/static/.DS_Store
projeto/HoqueiStats/StatsApp/static/js/.DS_Store
projeto/HoqueiStats/StatsApp/static/statsapp/.DS_Store
projeto/HoqueiStats/StatsApp/templates/.DS_Store
logo.svg
logo.png
projeto/HoqueiStats/HoqueiStats/__pycache__/settings.cpython-36.pyc
projeto/HoqueiStats/StatsApp/__pycache__/views.cpython-36.pyc
projeto/HoqueiStats/StatsApp/__pycache__/urls.cpython-36.pyc
projeto/HoqueiStats/StatsApp/__pycache__/models.cpython-36.pyc
projeto/HoqueiStats/HoqueiStats/__pycache__/urls.cpython-36.pyc
projeto/HoqueiStats/HoqueiStats/__pycache__/settings.cpython-36.pyc
*.pyc
