{% load render_bundle from webpack_loader %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'statsapp/style.css' %}">
</head>
<body>
    {% if club_list %}
    <ul>
    {% for club in club_list %}
        <li><a href="{% url 'statsapp:detail' clube.id %}">{{ club.nome }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No clubs are available.</p>
    {% endif %}
    <div id="app">
        <demo></demo>
    </div>
    {% render_bundle 'main' %}
</body>
</html>