<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>HoqueiStats | Jogos</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="A simple crud app made with the vue js and django">
            <meta name="keywords" content="vuejs, django, crudapp, restapi">
            <! — bootstap →
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <! — boostrap css →
        </head>
        <body>
            <! — bootrtap js files →
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <! — vue.js files →
            <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue@2.4.4/dist/vue.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>


            <div id="starting">
                <div class="container">
                    <div class="row">
                        <h1>Lista de Jogos</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Casa/Fora</th>
                                    <th scope="col">Adversário</th>
                                    <th scope="col">Resultado</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Formação</th>
                                    <th scope="col">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="jogo in jogos">
                                    <td>{{jogo.casa}}</th>
                                    <td>{{jogo.adversario}}</td>
                                    <td>sei lá... </td>
                                    <td>{{jogo.data}}</td>
                                    <td>{{jogo.formacao}}</td>
                                    <td>
                                        <button class="btn btn-info" v-on:click="abreJogo(jogo.jogo_id)">Abrir</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </body>
    </html>


    {% load static %}
    <script type="text/javascript" src="{% static 'js/jogo.js' %}"></script>
